.withdraw-bids {
  background: #ddd;
  padding: 20px;

  //& > div:not(:last-child) {
  //margin-bottom: 20px;
  //}

  & > button {
    margin: 10px 0 10px 0;
    width: 100%;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    background: #9a9797;
    color: #3d3d3d;
    font-weight: 600;
    cursor: pointer;
  }

  & > p:first-child {
    font-weight: 600;
  }
}
