.create-nft-loading-popup {
  padding: 30px;
  padding-top: 20px;
  h2 {
    text-align: center;
    font-size: 23px;
  }
}
.steps-section {
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 20px;
  align-items: start;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  h3,
  p {
    margin: 0;
    padding: 0;
  }

  h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
  }
}
