:root {
  //typography
  --header-one-font-size: 20px;
  --header-one-font-weight: 600;
  --header-one-font-color: #1e1e1e;
  --header-one-line-height: 27px;

  --header-two-font-size: 16px;
  --header-two-font-weight: 600;
  --header-two-font-color: #1e1e1e;
  --header-two-line-height: 21px;

  --pra-one-font-size: 14px;
  --pra-one-font-weight: 600;
  --pra-one-line-height: 19px;
  --pra-one-font-color: #757575;

  //margin
  --margin-one: 12px;
  --margin-two: 24px;
  --margin-three: 36px;
  --margin-four: 48px;
  --margin-five: 60px;
  --margin-six: 72px;

  //border
  --border-one: 1px solid #f0f0f0;
  --border-two: 3px dashed #f0f0f0;
}
