.profile-form {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 40px;

    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #1e1e1e;
      margin-bottom: 21px;
    }
    span {
      margin-bottom: 21px;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #757575;
      display: block;
    }
  }

  label[for="social-link"] {
    input[type="url"] {
      margin-bottom: 30px;
    }
  }

  input,
  textarea {
    width: 100%;
    border-radius: 8px;
    padding: 15px 18px;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #a7a7a7;
    background-color: #fff;
    //border: none;

    &:focus {
      outline: none;
    }
  }
  textarea {
    height: 130px;
  }

  &__save-btn {
    width: max-content;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    color: #ffff;
    background-color: #1e1e1e;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
}
